body
  font-size 14px
  margin 0px
  line-height 19px
  font-family 'Roboto', helvetica, arial, sans-serif
  *,
  *:before,
  *:after
    box-sizing border-box
  a
    color ColorLink
    text-decoration underline
    &:active
    &:focus
      text-decoration none
  .leaflet-control-zoom a
    text-decoration none
    color #333
  .leaflet-control-attribution a
    color #003366

  .fallback
    position absolute
    top 0px
    left 0px
    width 100%
    height 600px
    background white
    z-index 10

    div
      margin 270px 40px 0px 40px
      text-align center
      padding 20px 10px
      border 1px dotted #aaa

#timeline
  position relative
  width auto
  height auto
  z-index 10

#timeline_zem
  position relative
  width auto
  height auto
  z-index 10

  .date
    font-size 12px


#infobox
  border-radius 10px
  position absolute
  padding 10px
  width auto
  max-width 350px
  height auto
  background-color white
  border 1px solid #bdbdbd
  font-family 'Roboto Condensed', sans-serif
  font-size 14px

  .infotitle
    margin-top 0px
    margin-bottom 3px

  .infofoto
    margin-right 5px
    float left
    width 170px
    height auto